
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1.5;
    font-family: sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
